---
import { Table } from "../components/Table";
import type { IColumn } from "../models/IColumn";
const rows = await fetch("http://localhost:8080/api/events")
	.then((res) => res.json())
	.then((data) => data.data);

const cols: IColumn[] = [
	{ header: "Name", field: "Name", type: "text" },
	{ header: "Date", field: "CreatedAt", type: "date" },
];
---

<h1>Events</h1>
<div class="m-5 w-6/12">
	<Table client:load data={rows} columns={cols} paginator={true} />
</div>
<div class="m-5"></div>
